body {
    line-height: 1.7; /*글자 줄 간격*/
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
}

header {
    background-color: #6d6e6e;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #222121;
    padding: 5px 0;
}

nav a {
    color: white;
    text-decoration: none; /*링크 밑줄 삭제*/
    margin: 0 20px; 
    font-size: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*테두리 그림자*/
}

section h1 {
    /*섹션 제목 밑에 선 추가하고 선 밑에 여백 추가 */
    border-bottom: 2px solid #6d6e6e;
    padding-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222121;
    color: white;
}

.image {
    display: left; /*왼쪽*/
    margin: 0 auto 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /*비율 맞게*/
}
